* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 5rem;
  line-height: 1.5;
}

h2, h3 {
  font-family: "Montserrat-Bold";
}

.p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
  margin-top: 0;
  position: relative;
  top: -10rem;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  padding: 5%;
}

.heading {
  position: relative;
  top: 5rem;
  text-align: center;
}

.navbar {
  padding: 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: " Montserrat-Light";
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 5rem;
  position: relative;
  top: 5rem;
}

.row {
  margin: 5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#features {
  padding: 7% 15%;
  text-align: center;
  position: relative;
  z-index: 1;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonials-img {
  border-radius: 100%;
  width: 10%;
  margin-bottom: 50px;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}


#pricing {
  margin: 100px;
  text-align: center;
}


.pricing-col {
  padding: 3% 2%;
}

@media (max-width:1000px) {
  .container-fluid {
    padding: 3% 15%;
    margin-top: 0;
    position: relative;
    top: 0rem;
  }

  .heading {
    position: relative;
    top: -5 rem;
    text-align: center;
  }

  .hrow {
    position: relative;
    top: -7rem;
  }

  .title-image {
    width: 60%;
    transform: rotate(0);
    margin-left: 5rem;
    position: relative;
    top: 5rem;
    left: 5rem;
  }
}

#cta {
  color: white;
  font-family: "Montserrat-Black";
  background-color: #ff4c68;
  text-align: center;
  padding: 3% 8%;
}

.bot {
  margin: 3% 3% 3% 0;
}

#footer {
  text-align: center;
}

.fic {
  margin: 20px 10px;
}
